@font-face {
	font-family: 'master-white';
	src:url('fonts/master-white.eot');
	src:url('fonts/master-white.eot?#iefix') format('embedded-opentype'),
		url('fonts/master-white.woff') format('woff'),
		url('fonts/master-white.ttf') format('truetype'),
		url('fonts/master-white.svg#master-white') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'master-white';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="master-white"] {
*/
.master-whitezoom_out, .master-whitezoom_in, .master-whitezoom, .master-whiteyoutube, .master-whitewindowphone, .master-whitewifi, .master-whitevolume3, .master-whitevolume2, .master-whitevolume1, .master-whitevolume0, .master-whitevolume_stereo, .master-whitevolume_mute, .master-whitevisualstadio, .master-whiteuservoice, .master-whiteuser_remove, .master-whiteuser_minus, .master-whiteuser_group_remove, .master-whiteuser_group_minus, .master-whiteuser_group_add, .master-whiteuser_group, .master-whiteuser_admin, .master-whiteuser_add, .master-whiteuser, .master-whiteupload_2, .master-whiteupload_1, .master-whiteupload_0, .master-whiteunlock1, .master-whiteunlock0, .master-whiteundo2, .master-whiteundo1, .master-whiteundo0, .master-whitetype, .master-whitetwitter1, .master-whitetwitter0, .master-whitetube, .master-whitetruck, .master-whitetrophy, .master-whitetrash_0, .master-whitetime_timer, .master-whitetime_sandglass, .master-whitetime_clock, .master-whitetiles_nine, .master-whiteticket, .master-whitethumbup_remove, .master-whitethumbup_minus, .master-whitethumbup_add, .master-whitesymbol_question, .master-whitesymbol_alert, .master-whitesun, .master-whitesuitcase, .master-whitestock_up, .master-whitestock_down, .master-whitestock, .master-whitestar_remove, .master-whitestar_minus, .master-whitestar_fill, .master-whitestar_add, .master-whitestairs1, .master-whitestairs0, .master-whitestairs_up1, .master-whitestairs_up0, .master-whitestairs_down1, .master-whitestairs_down0, .master-whitespeakerphone, .master-whitesnow, .master-whitesmiley_what, .master-whitesmiley_tounge, .master-whitesmiley_sky, .master-whitesmiley_sad, .master-whitesmiley_happy, .master-whitesmiley_angry, .master-whitesleep, .master-whiteshuffle, .master-whitesetting_2, .master-whitesetting_1, .master-whitesetting_0, .master-whitescale, .master-whitesave, .master-whiterss, .master-whitering, .master-whiteribbon, .master-whitereturn, .master-whiterepeat1, .master-whiterepeat0, .master-whitereload, .master-whiteredo2, .master-whiteredo1, .master-whiteredo0, .master-whiteradio, .master-whitequote_right, .master-whitequote_left, .master-whitepuzzle, .master-whitepulse, .master-whiteprinter, .master-whitepower, .master-whitepin1, .master-whitepin0, .master-whitepill, .master-whitephone_up1, .master-whitephone_up0, .master-whitephone_down1, .master-whitephone_down0, .master-whitepeople, .master-whitepaperclip, .master-whitepaper, .master-whitepage_word, .master-whitepage_txt, .master-whitepage_text, .master-whitepage_search, .master-whitepage_question, .master-whitepage_png, .master-whitepage_pdf, .master-whitepage_next, .master-whitepage_new, .master-whitepage_multi, .master-whitepage_minus, .master-whitepage_jpg, .master-whitepage_image, .master-whitepage_hidden, .master-whitepage_gif, .master-whitepage_favor, .master-whitepage_excel, .master-whitepage_edit, .master-whitepage_delete, .master-whitepage_code, .master-whitepage_check, .master-whitepage_add, .master-whitepage_acrobat, .master-whitepage, .master-whiteos_windowsphone, .master-whiteos_windowsmobile, .master-whiteos_windows8, .master-whiteos_windows, .master-whiteos_ios, .master-whiteos_android, .master-whiteos_86x, .master-whiteos_64x, .master-whiteopr_plus, .master-whiteopr_minus, .master-whiteopr_cross, .master-whiteopr_check, .master-whiteopacity, .master-whitenotification_multi_above, .master-whitenotification_multi, .master-whitenotification_above, .master-whitenotification, .master-whitenotebook, .master-whitenight1, .master-whitenight0, .master-whitenewspaper, .master-whitenew, .master-whitenetwork_disconnect, .master-whitenetwork_connect, .master-whitemusic, .master-whitemovie, .master-whitemonitor, .master-whitemoney, .master-whitemicrophone, .master-whitemessage_stroke1, .master-whitemessage_stroke0, .master-whitemessage_fill, .master-whitemessage, .master-whitemedia_control_stop, .master-whitemedia_control_rewind, .master-whitemedia_control_play, .master-whitemedia_control_pause, .master-whitemedia_control_fastforward, .master-whitemarkup, .master-whitemarketplace, .master-whitemap_treasure, .master-whitemap_gps, .master-whitemap, .master-whitemale, .master-whitelogout, .master-whitelogin, .master-whitelock, .master-whitelocation_round, .master-whitelocation_minus, .master-whitelocation_delete, .master-whitelocation_circle, .master-whitelocation_check, .master-whitelocation_add, .master-whitelocation, .master-whitelist1, .master-whitelist0, .master-whitelink, .master-whitelifesaver, .master-whiteleaf, .master-whiteleaderboard, .master-whitelayers, .master-whitekeyboard_down, .master-whitekeyboard, .master-whitekey1, .master-whitekey0, .master-whitejournal, .master-whitejava1, .master-whitejava0, .master-whiteiphone, .master-whiteinformation_circle, .master-whiteinformation, .master-whiteinfinity, .master-whiteinbox, .master-whiteimages, .master-whiteimage_hr, .master-whiteimage, .master-whiteicecream, .master-whitehome, .master-whiteheart_stroke, .master-whiteheart_half, .master-whiteheart_full, .master-whiteheart_break, .master-whitehandicap, .master-whitegraph_pie, .master-whitegraph_line_up, .master-whitegraph_line_down, .master-whitegraph_line, .master-whitegraph_bar, .master-whitegoogle, .master-whiteglobe1, .master-whiteglobe0, .master-whitegithub, .master-whitegift, .master-whitegauge4, .master-whitegauge3, .master-whitegauge2, .master-whitegauge1, .master-whitegauge0, .master-whitegamepad, .master-whitefullscreen, .master-whiteflash, .master-whiteflag1, .master-whiteflag0, .master-whitefingerprint, .master-whitefilter, .master-whitefield_text, .master-whitefield_password, .master-whitefemale, .master-whitefacebook, .master-whitedraw_pencil, .master-whitedraw_pen, .master-whitedraw_edit, .master-whitedownload_2, .master-whitedownload_1, .master-whitedownload_0, .master-whitedisk, .master-whitedisconnect, .master-whitedirection_up, .master-whitedirection_right, .master-whitedirection_left, .master-whitedirection_down, .master-whitedial, .master-whitediagram, .master-whitedepartment, .master-whitecursor_stroke, .master-whitecursor_hand, .master-whitecursor_fill, .master-whitecup_half, .master-whitecup_full, .master-whitecup_empty, .master-whitecsharp, .master-whitecrown, .master-whitecontrol_guide, .master-whiteconsole, .master-whiteconnection_departure, .master-whiteconnection, .master-whiteconnect, .master-whitecone, .master-whitecloud_download, .master-whitecloud, .master-whiteclipboard_past, .master-whiteclipboard_edit, .master-whiteclipboard, .master-whiteclear_right, .master-whiteclear_left, .master-whitecircle_stroke, .master-whitechevron_up, .master-whitechevron_right, .master-whitechevron_left, .master-whitechevron_down, .master-whitechess_rook, .master-whitechess_queen, .master-whitechess_king, .master-whitechess_horse, .master-whitechess_bishop, .master-whitecheckbox, .master-whitecart, .master-whitecandy, .master-whitecancel, .master-whitecamera, .master-whitecalendar_today, .master-whitecalendar_todate, .master-whitecalendar_fromdate, .master-whitecalculator, .master-whitebulb1, .master-whitebulb0, .master-whitebug, .master-whitebrowser_chrome, .master-whitebox_paper, .master-whitebox_1, .master-whitebox_0, .master-whitebook_3, .master-whitebook_2, .master-whitebook_1, .master-whitebook_0, .master-whitebed, .master-whitebattery_3, .master-whitebattery_2, .master-whitebattery_1, .master-whitebattery_0, .master-whitebarcode, .master-whitebank_card, .master-whitebaby, .master-whiteaxis_three, .master-whiteat, .master-whitearrow_upright, .master-whitearrow_upleft, .master-whitearrow_updown, .master-whitearrow_up, .master-whitearrow_t_up, .master-whitearrow_t_right, .master-whitearrow_t_left, .master-whitearrow_t_down, .master-whitearrow_rightup, .master-whitearrow_rightleft, .master-whitearrow_rightdown, .master-whitearrow_right, .master-whitearrow_leftup, .master-whitearrow_leftright, .master-whitearrow_leftdown, .master-whitearrow_left, .master-whitearrow_expand, .master-whitearrow_downup, .master-whitearrow_downright, .master-whitearrow_downleft, .master-whitearrow_down, .master-whitearrow_collapsed, .master-whitearchive, .master-whiteanchor, .master-whitealign_right, .master-whitealign_left, .master-whitealign_justify, .master-whitealign_center, .master-whitealert2, .master-whitealert1, .master-whitealert0, .master-whiteaim, .master-whiteadobe_acrobat, .master-whiteacorn {
	font-family: 'master-white';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.master-whitezoom_out:before {
	content: "\e000";
}
.master-whitezoom_in:before {
	content: "\e001";
}
.master-whitezoom:before {
	content: "\e002";
}
.master-whiteyoutube:before {
	content: "\e003";
}
.master-whitewindowphone:before {
	content: "\e004";
}
.master-whitewifi:before {
	content: "\e005";
}
.master-whitevolume3:before {
	content: "\e006";
}
.master-whitevolume2:before {
	content: "\e007";
}
.master-whitevolume1:before {
	content: "\e008";
}
.master-whitevolume0:before {
	content: "\e009";
}
.master-whitevolume_stereo:before {
	content: "\e00a";
}
.master-whitevolume_mute:before {
	content: "\e00b";
}
.master-whitevisualstadio:before {
	content: "\e00c";
}
.master-whiteuservoice:before {
	content: "\e00d";
}
.master-whiteuser_remove:before {
	content: "\e00e";
}
.master-whiteuser_minus:before {
	content: "\e00f";
}
.master-whiteuser_group_remove:before {
	content: "\e010";
}
.master-whiteuser_group_minus:before {
	content: "\e011";
}
.master-whiteuser_group_add:before {
	content: "\e012";
}
.master-whiteuser_group:before {
	content: "\e013";
}
.master-whiteuser_admin:before {
	content: "\e014";
}
.master-whiteuser_add:before {
	content: "\e015";
}
.master-whiteuser:before {
	content: "\e016";
}
.master-whiteupload_2:before {
	content: "\e017";
}
.master-whiteupload_1:before {
	content: "\e018";
}
.master-whiteupload_0:before {
	content: "\e019";
}
.master-whiteunlock1:before {
	content: "\e01a";
}
.master-whiteunlock0:before {
	content: "\e01b";
}
.master-whiteundo2:before {
	content: "\e01c";
}
.master-whiteundo1:before {
	content: "\e01d";
}
.master-whiteundo0:before {
	content: "\e01e";
}
.master-whitetype:before {
	content: "\e01f";
}
.master-whitetwitter1:before {
	content: "\e020";
}
.master-whitetwitter0:before {
	content: "\e021";
}
.master-whitetube:before {
	content: "\e022";
}
.master-whitetruck:before {
	content: "\e023";
}
.master-whitetrophy:before {
	content: "\e024";
}
.master-whitetrash_0:before {
	content: "\e025";
}
.master-whitetime_timer:before {
	content: "\e026";
}
.master-whitetime_sandglass:before {
	content: "\e027";
}
.master-whitetime_clock:before {
	content: "\e028";
}
.master-whitetiles_nine:before {
	content: "\e029";
}
.master-whiteticket:before {
	content: "\e02a";
}
.master-whitethumbup_remove:before {
	content: "\e02b";
}
.master-whitethumbup_minus:before {
	content: "\e02c";
}
.master-whitethumbup_add:before {
	content: "\e02d";
}
.master-whitesymbol_question:before {
	content: "\e02e";
}
.master-whitesymbol_alert:before {
	content: "\e02f";
}
.master-whitesun:before {
	content: "\e030";
}
.master-whitesuitcase:before {
	content: "\e031";
}
.master-whitestock_up:before {
	content: "\e032";
}
.master-whitestock_down:before {
	content: "\e033";
}
.master-whitestock:before {
	content: "\e034";
}
.master-whitestar_remove:before {
	content: "\e035";
}
.master-whitestar_minus:before {
	content: "\e036";
}
.master-whitestar_fill:before {
	content: "\e037";
}
.master-whitestar_add:before {
	content: "\e038";
}
.master-whitestairs1:before {
	content: "\e039";
}
.master-whitestairs0:before {
	content: "\e03a";
}
.master-whitestairs_up1:before {
	content: "\e03b";
}
.master-whitestairs_up0:before {
	content: "\e03c";
}
.master-whitestairs_down1:before {
	content: "\e03d";
}
.master-whitestairs_down0:before {
	content: "\e03e";
}
.master-whitespeakerphone:before {
	content: "\e03f";
}
.master-whitesnow:before {
	content: "\e040";
}
.master-whitesmiley_what:before {
	content: "\e041";
}
.master-whitesmiley_tounge:before {
	content: "\e042";
}
.master-whitesmiley_sky:before {
	content: "\e043";
}
.master-whitesmiley_sad:before {
	content: "\e044";
}
.master-whitesmiley_happy:before {
	content: "\e045";
}
.master-whitesmiley_angry:before {
	content: "\e046";
}
.master-whitesleep:before {
	content: "\e047";
}
.master-whiteshuffle:before {
	content: "\e048";
}
.master-whitesetting_2:before {
	content: "\e049";
}
.master-whitesetting_1:before {
	content: "\e04a";
}
.master-whitesetting_0:before {
	content: "\e04b";
}
.master-whitescale:before {
	content: "\e04c";
}
.master-whitesave:before {
	content: "\e04d";
}
.master-whiterss:before {
	content: "\e04e";
}
.master-whitering:before {
	content: "\e04f";
}
.master-whiteribbon:before {
	content: "\e050";
}
.master-whitereturn:before {
	content: "\e051";
}
.master-whiterepeat1:before {
	content: "\e052";
}
.master-whiterepeat0:before {
	content: "\e053";
}
.master-whitereload:before {
	content: "\e054";
}
.master-whiteredo2:before {
	content: "\e055";
}
.master-whiteredo1:before {
	content: "\e056";
}
.master-whiteredo0:before {
	content: "\e057";
}
.master-whiteradio:before {
	content: "\e058";
}
.master-whitequote_right:before {
	content: "\e059";
}
.master-whitequote_left:before {
	content: "\e05a";
}
.master-whitepuzzle:before {
	content: "\e05b";
}
.master-whitepulse:before {
	content: "\e05c";
}
.master-whiteprinter:before {
	content: "\e05d";
}
.master-whitepower:before {
	content: "\e05e";
}
.master-whitepin1:before {
	content: "\e05f";
}
.master-whitepin0:before {
	content: "\e060";
}
.master-whitepill:before {
	content: "\e061";
}
.master-whitephone_up1:before {
	content: "\e062";
}
.master-whitephone_up0:before {
	content: "\e063";
}
.master-whitephone_down1:before {
	content: "\e064";
}
.master-whitephone_down0:before {
	content: "\e065";
}
.master-whitepeople:before {
	content: "\e066";
}
.master-whitepaperclip:before {
	content: "\e067";
}
.master-whitepaper:before {
	content: "\e068";
}
.master-whitepage_word:before {
	content: "\e069";
}
.master-whitepage_txt:before {
	content: "\e06a";
}
.master-whitepage_text:before {
	content: "\e06b";
}
.master-whitepage_search:before {
	content: "\e06c";
}
.master-whitepage_question:before {
	content: "\e06d";
}
.master-whitepage_png:before {
	content: "\e06e";
}
.master-whitepage_pdf:before {
	content: "\e06f";
}
.master-whitepage_next:before {
	content: "\e070";
}
.master-whitepage_new:before {
	content: "\e071";
}
.master-whitepage_multi:before {
	content: "\e072";
}
.master-whitepage_minus:before {
	content: "\e073";
}
.master-whitepage_jpg:before {
	content: "\e074";
}
.master-whitepage_image:before {
	content: "\e075";
}
.master-whitepage_hidden:before {
	content: "\e076";
}
.master-whitepage_gif:before {
	content: "\e077";
}
.master-whitepage_favor:before {
	content: "\e078";
}
.master-whitepage_excel:before {
	content: "\e079";
}
.master-whitepage_edit:before {
	content: "\e07a";
}
.master-whitepage_delete:before {
	content: "\e07b";
}
.master-whitepage_code:before {
	content: "\e07c";
}
.master-whitepage_check:before {
	content: "\e07d";
}
.master-whitepage_add:before {
	content: "\e07e";
}
.master-whitepage_acrobat:before {
	content: "\e07f";
}
.master-whitepage:before {
	content: "\e080";
}
.master-whiteos_windowsphone:before {
	content: "\e081";
}
.master-whiteos_windowsmobile:before {
	content: "\e082";
}
.master-whiteos_windows8:before {
	content: "\e083";
}
.master-whiteos_windows:before {
	content: "\e084";
}
.master-whiteos_ios:before {
	content: "\e085";
}
.master-whiteos_android:before {
	content: "\e086";
}
.master-whiteos_86x:before {
	content: "\e087";
}
.master-whiteos_64x:before {
	content: "\e088";
}
.master-whiteopr_plus:before {
	content: "\e089";
}
.master-whiteopr_minus:before {
	content: "\e08a";
}
.master-whiteopr_cross:before {
	content: "\e08b";
}
.master-whiteopr_check:before {
	content: "\e08c";
}
.master-whiteopacity:before {
	content: "\e08d";
}
.master-whitenotification_multi_above:before {
	content: "\e08e";
}
.master-whitenotification_multi:before {
	content: "\e08f";
}
.master-whitenotification_above:before {
	content: "\e090";
}
.master-whitenotification:before {
	content: "\e091";
}
.master-whitenotebook:before {
	content: "\e092";
}
.master-whitenight1:before {
	content: "\e093";
}
.master-whitenight0:before {
	content: "\e094";
}
.master-whitenewspaper:before {
	content: "\e095";
}
.master-whitenew:before {
	content: "\e096";
}
.master-whitenetwork_disconnect:before {
	content: "\e097";
}
.master-whitenetwork_connect:before {
	content: "\e098";
}
.master-whitemusic:before {
	content: "\e099";
}
.master-whitemovie:before {
	content: "\e09a";
}
.master-whitemonitor:before {
	content: "\e09b";
}
.master-whitemoney:before {
	content: "\e09c";
}
.master-whitemicrophone:before {
	content: "\e09d";
}
.master-whitemessage_stroke1:before {
	content: "\e09e";
}
.master-whitemessage_stroke0:before {
	content: "\e09f";
}
.master-whitemessage_fill:before {
	content: "\e0a0";
}
.master-whitemessage:before {
	content: "\e0a1";
}
.master-whitemedia_control_stop:before {
	content: "\e0a2";
}
.master-whitemedia_control_rewind:before {
	content: "\e0a3";
}
.master-whitemedia_control_play:before {
	content: "\e0a4";
}
.master-whitemedia_control_pause:before {
	content: "\e0a5";
}
.master-whitemedia_control_fastforward:before {
	content: "\e0a6";
}
.master-whitemarkup:before {
	content: "\e0a7";
}
.master-whitemarketplace:before {
	content: "\e0a8";
}
.master-whitemap_treasure:before {
	content: "\e0a9";
}
.master-whitemap_gps:before {
	content: "\e0aa";
}
.master-whitemap:before {
	content: "\e0ab";
}
.master-whitemale:before {
	content: "\e0ac";
}
.master-whitelogout:before {
	content: "\e0ad";
}
.master-whitelogin:before {
	content: "\e0ae";
}
.master-whitelock:before {
	content: "\e0af";
}
.master-whitelocation_round:before {
	content: "\e0b0";
}
.master-whitelocation_minus:before {
	content: "\e0b1";
}
.master-whitelocation_delete:before {
	content: "\e0b2";
}
.master-whitelocation_circle:before {
	content: "\e0b3";
}
.master-whitelocation_check:before {
	content: "\e0b4";
}
.master-whitelocation_add:before {
	content: "\e0b5";
}
.master-whitelocation:before {
	content: "\e0b6";
}
.master-whitelist1:before {
	content: "\e0b7";
}
.master-whitelist0:before {
	content: "\e0b8";
}
.master-whitelink:before {
	content: "\e0b9";
}
.master-whitelifesaver:before {
	content: "\e0ba";
}
.master-whiteleaf:before {
	content: "\e0bb";
}
.master-whiteleaderboard:before {
	content: "\e0bc";
}
.master-whitelayers:before {
	content: "\e0bd";
}
.master-whitekeyboard_down:before {
	content: "\e0be";
}
.master-whitekeyboard:before {
	content: "\e0bf";
}
.master-whitekey1:before {
	content: "\e0c0";
}
.master-whitekey0:before {
	content: "\e0c1";
}
.master-whitejournal:before {
	content: "\e0c2";
}
.master-whitejava1:before {
	content: "\e0c3";
}
.master-whitejava0:before {
	content: "\e0c4";
}
.master-whiteiphone:before {
	content: "\e0c5";
}
.master-whiteinformation_circle:before {
	content: "\e0c6";
}
.master-whiteinformation:before {
	content: "\e0c7";
}
.master-whiteinfinity:before {
	content: "\e0c8";
}
.master-whiteinbox:before {
	content: "\e0c9";
}
.master-whiteimages:before {
	content: "\e0ca";
}
.master-whiteimage_hr:before {
	content: "\e0cb";
}
.master-whiteimage:before {
	content: "\e0cc";
}
.master-whiteicecream:before {
	content: "\e0cd";
}
.master-whitehome:before {
	content: "\e0ce";
}
.master-whiteheart_stroke:before {
	content: "\e0cf";
}
.master-whiteheart_half:before {
	content: "\e0d0";
}
.master-whiteheart_full:before {
	content: "\e0d1";
}
.master-whiteheart_break:before {
	content: "\e0d2";
}
.master-whitehandicap:before {
	content: "\e0d3";
}
.master-whitegraph_pie:before {
	content: "\e0d4";
}
.master-whitegraph_line_up:before {
	content: "\e0d5";
}
.master-whitegraph_line_down:before {
	content: "\e0d6";
}
.master-whitegraph_line:before {
	content: "\e0d7";
}
.master-whitegraph_bar:before {
	content: "\e0d8";
}
.master-whitegoogle:before {
	content: "\e0d9";
}
.master-whiteglobe1:before {
	content: "\e0da";
}
.master-whiteglobe0:before {
	content: "\e0db";
}
.master-whitegithub:before {
	content: "\e0dc";
}
.master-whitegift:before {
	content: "\e0dd";
}
.master-whitegauge4:before {
	content: "\e0de";
}
.master-whitegauge3:before {
	content: "\e0df";
}
.master-whitegauge2:before {
	content: "\e0e0";
}
.master-whitegauge1:before {
	content: "\e0e1";
}
.master-whitegauge0:before {
	content: "\e0e2";
}
.master-whitegamepad:before {
	content: "\e0e3";
}
.master-whitefullscreen:before {
	content: "\e0e4";
}
.master-whiteflash:before {
	content: "\e0e5";
}
.master-whiteflag1:before {
	content: "\e0e6";
}
.master-whiteflag0:before {
	content: "\e0e7";
}
.master-whitefingerprint:before {
	content: "\e0e8";
}
.master-whitefilter:before {
	content: "\e0e9";
}
.master-whitefield_text:before {
	content: "\e0ea";
}
.master-whitefield_password:before {
	content: "\e0eb";
}
.master-whitefemale:before {
	content: "\e0ec";
}
.master-whitefacebook:before {
	content: "\e0ed";
}
.master-whitedraw_pencil:before {
	content: "\e0ee";
}
.master-whitedraw_pen:before {
	content: "\e0ef";
}
.master-whitedraw_edit:before {
	content: "\e0f0";
}
.master-whitedownload_2:before {
	content: "\e0f1";
}
.master-whitedownload_1:before {
	content: "\e0f2";
}
.master-whitedownload_0:before {
	content: "\e0f3";
}
.master-whitedisk:before {
	content: "\e0f4";
}
.master-whitedisconnect:before {
	content: "\e0f5";
}
.master-whitedirection_up:before {
	content: "\e0f6";
}
.master-whitedirection_right:before {
	content: "\e0f7";
}
.master-whitedirection_left:before {
	content: "\e0f8";
}
.master-whitedirection_down:before {
	content: "\e0f9";
}
.master-whitedial:before {
	content: "\e0fa";
}
.master-whitediagram:before {
	content: "\e0fb";
}
.master-whitedepartment:before {
	content: "\e0fc";
}
.master-whitecursor_stroke:before {
	content: "\e0fd";
}
.master-whitecursor_hand:before {
	content: "\e0fe";
}
.master-whitecursor_fill:before {
	content: "\e0ff";
}
.master-whitecup_half:before {
	content: "\e100";
}
.master-whitecup_full:before {
	content: "\e101";
}
.master-whitecup_empty:before {
	content: "\e102";
}
.master-whitecsharp:before {
	content: "\e103";
}
.master-whitecrown:before {
	content: "\e104";
}
.master-whitecontrol_guide:before {
	content: "\e105";
}
.master-whiteconsole:before {
	content: "\e106";
}
.master-whiteconnection_departure:before {
	content: "\e107";
}
.master-whiteconnection:before {
	content: "\e108";
}
.master-whiteconnect:before {
	content: "\e109";
}
.master-whitecone:before {
	content: "\e10a";
}
.master-whitecloud_download:before {
	content: "\e10b";
}
.master-whitecloud:before {
	content: "\e10c";
}
.master-whiteclipboard_past:before {
	content: "\e10d";
}
.master-whiteclipboard_edit:before {
	content: "\e10e";
}
.master-whiteclipboard:before {
	content: "\e10f";
}
.master-whiteclear_right:before {
	content: "\e110";
}
.master-whiteclear_left:before {
	content: "\e111";
}
.master-whitecircle_stroke:before {
	content: "\e112";
}
.master-whitechevron_up:before {
	content: "\e113";
}
.master-whitechevron_right:before {
	content: "\e114";
}
.master-whitechevron_left:before {
	content: "\e115";
}
.master-whitechevron_down:before {
	content: "\e116";
}
.master-whitechess_rook:before {
	content: "\e117";
}
.master-whitechess_queen:before {
	content: "\e118";
}
.master-whitechess_king:before {
	content: "\e119";
}
.master-whitechess_horse:before {
	content: "\e11a";
}
.master-whitechess_bishop:before {
	content: "\e11b";
}
.master-whitecheckbox:before {
	content: "\e11c";
}
.master-whitecart:before {
	content: "\e11d";
}
.master-whitecandy:before {
	content: "\e11e";
}
.master-whitecancel:before {
	content: "\e11f";
}
.master-whitecamera:before {
	content: "\e120";
}
.master-whitecalendar_today:before {
	content: "\e121";
}
.master-whitecalendar_todate:before {
	content: "\e122";
}
.master-whitecalendar_fromdate:before {
	content: "\e123";
}
.master-whitecalculator:before {
	content: "\e124";
}
.master-whitebulb1:before {
	content: "\e125";
}
.master-whitebulb0:before {
	content: "\e126";
}
.master-whitebug:before {
	content: "\e127";
}
.master-whitebrowser_chrome:before {
	content: "\e128";
}
.master-whitebox_paper:before {
	content: "\e129";
}
.master-whitebox_1:before {
	content: "\e12a";
}
.master-whitebox_0:before {
	content: "\e12b";
}
.master-whitebook_3:before {
	content: "\e12c";
}
.master-whitebook_2:before {
	content: "\e12d";
}
.master-whitebook_1:before {
	content: "\e12e";
}
.master-whitebook_0:before {
	content: "\e12f";
}
.master-whitebed:before {
	content: "\e130";
}
.master-whitebattery_3:before {
	content: "\e131";
}
.master-whitebattery_2:before {
	content: "\e132";
}
.master-whitebattery_1:before {
	content: "\e133";
}
.master-whitebattery_0:before {
	content: "\e134";
}
.master-whitebarcode:before {
	content: "\e135";
}
.master-whitebank_card:before {
	content: "\e136";
}
.master-whitebaby:before {
	content: "\e137";
}
.master-whiteaxis_three:before {
	content: "\e138";
}
.master-whiteat:before {
	content: "\e139";
}
.master-whitearrow_upright:before {
	content: "\e13a";
}
.master-whitearrow_upleft:before {
	content: "\e13b";
}
.master-whitearrow_updown:before {
	content: "\e13c";
}
.master-whitearrow_up:before {
	content: "\e13d";
}
.master-whitearrow_t_up:before {
	content: "\e13e";
}
.master-whitearrow_t_right:before {
	content: "\e13f";
}
.master-whitearrow_t_left:before {
	content: "\e140";
}
.master-whitearrow_t_down:before {
	content: "\e141";
}
.master-whitearrow_rightup:before {
	content: "\e142";
}
.master-whitearrow_rightleft:before {
	content: "\e143";
}
.master-whitearrow_rightdown:before {
	content: "\e144";
}
.master-whitearrow_right:before {
	content: "\e145";
}
.master-whitearrow_leftup:before {
	content: "\e146";
}
.master-whitearrow_leftright:before {
	content: "\e147";
}
.master-whitearrow_leftdown:before {
	content: "\e148";
}
.master-whitearrow_left:before {
	content: "\e149";
}
.master-whitearrow_expand:before {
	content: "\e14a";
}
.master-whitearrow_downup:before {
	content: "\e14b";
}
.master-whitearrow_downright:before {
	content: "\e14c";
}
.master-whitearrow_downleft:before {
	content: "\e14d";
}
.master-whitearrow_down:before {
	content: "\e14e";
}
.master-whitearrow_collapsed:before {
	content: "\e14f";
}
.master-whitearchive:before {
	content: "\e150";
}
.master-whiteanchor:before {
	content: "\e151";
}
.master-whitealign_right:before {
	content: "\e152";
}
.master-whitealign_left:before {
	content: "\e153";
}
.master-whitealign_justify:before {
	content: "\e154";
}
.master-whitealign_center:before {
	content: "\e155";
}
.master-whitealert2:before {
	content: "\e156";
}
.master-whitealert1:before {
	content: "\e157";
}
.master-whitealert0:before {
	content: "\e158";
}
.master-whiteaim:before {
	content: "\e159";
}
.master-whiteadobe_acrobat:before {
	content: "\e15a";
}
.master-whiteacorn:before {
	content: "\e15b";
}
